{% extends "base.twig" %}

{% block menu %}
    {% include "menu.twig" %}
{% endblock %}

{% block main %}
    <p>A postal address in UK or overseas - associated with 1 or more memberships</p>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="address" width="100%">
        <thead>
        <tr>
            <th>Organisation</th>
            <th>Number or Name</th>
            <th>Address_Line_1</th>
            <th>Address_Line_2</th>
            <th>Post_Town</th>
            <th>County</th>
            <th>PostCode</th>
            <th>Status</th>
            <th>Date Changed</th>
        </tr>
        </thead>
    </table>
{% endblock %}