{% extends "base.twig" %}

{% block menu %}
    {% include "menu.twig" %}
{% endblock %}

{% block main %}
    <style type="text/css">
        .buttons-edit{
            margin-left:6px !important;
        }
        .buttons-remove{
            margin-left:6px !important;
        }
    </style>
    <p></p>

    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="bankstatemententry" width="100%">
        <thead>
        <tr>
        </tr>
        </thead>
    </table>
{% endblock %}