{% extends "base.twig" %}

{% block menu %}
    {% include "menu.twig" %}
{% endblock %}

{% block main %}
    <style type="text/css">
        .buttons-edit{
            margin-left:6px !important;
        }
        .buttons-remove{
            margin-left:6px !important;
        }
    </style>
    <p>One or more services that are associated with a specific membership, e.g. receiving Trow via the post, 300 Club etc</p>

    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="membership_service" width="100%">
        <thead>
        <tr>
            <th>Mem_No</th>
            <th>Service Code</th>
            <th>Start Date</th>
            <th>End_Date</th>
            <th>Status</th>
        </tr>
        </thead>
    </table>
{% endblock %}