{% extends "base.twig" %}

{% block menu %}
    {% include "menu.twig" %}
{% endblock %}

{% block main %}
    <style type="text/css">
        .buttons-edit{
            margin-left:6px !important;
        }
        .buttons-remove{
            margin-left:6px !important;
        }
    </style>
    <p></p>

{% endblock %}