{% extends "base.twig" %}

{% block menu %}
    {% include "menu.twig" %}
{% endblock %}

{% block main %}
    <div style="text-align: center">
    <img src="/images/Cotswold-Canals-Trust-Logo220.jpg"/>
    </div>
{% endblock %}